/*------- 11. About style ------ */

.welcome-content {
  h5 {
    font-weight: 500;
    font-size: 16px;
    color: #666;
    margin: 0;
    letter-spacing: 0.3px;
  }
  h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin: 8px 0 30px;
    color: #433f3f;
    position: relative;
    display: inline-block;
    padding: 0 0 23px;
    line-height: 1;
    &:before {
      position: absolute;
      background-color: #070508;
      height: 3px;
      width: 70px;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }
  }
  p {
    font-size: 16px;
    color: #4b4b4b;
    line-height: 30px;
    width: 66%;
    margin: 0 auto;
    @media #{$lg-layout} {
      width: 80%;
    }
    @media #{$md-layout} {
      width: 95%;
    }
    @media #{$xs-layout} {
      width: 100%;
      font-size: 15px;
    }
  }
}

/* about page */

.single-count {
  .count-icon {
    i {
      font-size: 50px;
      line-height: 1;
      display: inline-block;
      @media #{$md-layout} {
        font-size: 45px;
      }
      @media #{$xs-layout} {
        font-size: 45px;
      }
    }
  }
  h2 {
    & > span {
      color: black;
      font-size: 40px;
      font-weight: bold;
      margin: 25px 0 12px;
      display: inline-block;
      @media #{$md-layout} {
        margin: 10px 0 8px;
        font-size: 35px;
      }
      @media #{$xs-layout} {
        margin: 6px 0 8px;
        font-size: 35px;
      }
    }
  }
  span {
    color: #333;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
  }
}

.team-wrapper {
  background-color: #f7f7f7;
  .team-img {
    position: relative;

    img {
      width: 100%;
    }

    .team-action {
      background: #fff none repeat scroll 0 0;
      left: 0;
      opacity: 0;
      padding: 10px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 70%;
      transform: translateY(-50%);
      transition: all 0.6s ease 0s;
      width: 100%;
      z-index: 5;
      a {
        border-radius: 50px;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        width: 30px;
        margin: 0 3px;
        &.facebook {
          border: 1px solid #3b5998;
          background-color: #3b5998;
          &:hover {
            background-color: transparent;
            color: #3b5998;
          }
        }
        &.twitter {
          border: 1px solid #55acee;
          background-color: #55acee;
          &:hover {
            background-color: transparent;
            color: #55acee;
          }
        }
        &.instagram {
          border: 1px solid #c32aa3;
          background-color: #c32aa3;
          &:hover {
            background-color: transparent;
            color: #c32aa3;
          }
        }
      }
    }
  }
  .team-content {
    padding: 20px 10px 23px;
    h4 {
      font-size: 18px;
      font-weight: 500;
      margin: 0 0 3px;
      text-transform: capitalize;
    }
    span {
      font-size: 15px;
      font-style: italic;
    }
  }
  &:hover .team-action {
    top: 50%;
    opacity: 1;
  }
}

.single-mission {
  h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 22px;
    color: #333;
    @media #{$xs-layout} {
      margin: 0 0 10px;
    }
  }
  p {
    margin: 0;
  }
}

.about-brand-logo {
  @media #{$xs-layout} {
    &.pb-100 {
      padding-bottom: 60px;
    }
  }
}

/*** NEW ABOUT **/

#about-wrapper {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
.about-inner {
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.about-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.about-card {
  width: 100%;
  height: 100vh;
  display: flex;
  @media #{$xs-layout} {
    height: 100vh;
    width: 100vw;
  }
  // background: #fff;
}

.card-img {
  background-position: center;
  width: 50vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  @media #{$xs-layout} {
    width: 100vw;
    height: 50%;
    object-fit: cover;
  }
}

#img01 {
  background-image: url("../img/shop.jpg");
}

#img02 {
  background-image: url("../img/home-5.jpg");
}

#img03 {
  background-image: url("../img/products.jpeg");
}

.card-content {
  padding: 15% 5%;
  box-sizing: border-box;
  width: 50%;
  background: #0a0a0a;
  @media #{$xs-layout} {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    // z-index: 20;
    padding: 10px;
  }
}

.card-theme {
  font-weight: 900;
  font-size: 1.7vmin;
  text-transform: uppercase;
  // font-family: Poppins;
  letter-spacing: 10px;
  color: grey;
}

.card-header {
  font-weight: 700;
  font-size: 54px;
  text-transform: capitalize;
  line-height: 1;
  margin-left: -20px;
  margin: 3vmin 0 3.5vmin;
  color: #fff;
  // font-family: Poppins;
}
#know-me {
  @media #{$xs-layout} {
    font-size: 35px;
  }
}

.card-para {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 2.5vmin;
  color: #fff;
  margin-left: 20px;
  // font-family: Poppins;
  @media #{$xs-layout} {
    width: 12%;
    text-align: left;
    font-size: 14px;
    margin-left: 20px;
    margin-top: -10px;
  }
}

.card-link {
  color: #fff;
  // font-family: Poppins;
  font-size: 1.8vmin;
  display: block;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.card-link:after {
  content: "→";
}

.prevnext {
  position: absolute;
  width: 4vmin;
  height: 8vmin;
  right: 2%;
  // bottom: 0;
  top: 10%;
  color: #fff;
  margin: auto 0;
}

.pn-btn {
  color: #fff;
  width: 100%;
  height: 50%;
  border: 0;
  background-color: transparent;
  font-size: 20px;
}

#prev,
#next {
  position: relative;
  cursor: pointer;
}

#prev:focus,
#next:focus {
  outline: none;
}

#prev:hover:after,
#next:hover:after {
  opacity: 1;
}

#prev:after,
#next:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

#prev:after {
  content: "↑";
}

#next:after {
  content: "↓";
}

.slick-slide.slick-center {
  transform: scale(1.1);
  transition: transform 0.8s 1.4s cubic-bezier(0.84, 0, 0.08, 0.99);
  width: 100%;
}

.slick-slide {
  transition: transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99);
  width: 100%;
}
