/*  MAIN MENU */
.menu-container {
  z-index: 100;
}

.hr {
  position: fixed;
  left: 50%;
  width: 6px;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
  transform: scaleY(0);
}

.nav-menu-left,
.nav-menu-right {
  position: fixed;
  width: 50%;
  height: 100vh !important;
  background: #0f0f0f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.nav-menu-left {
  left: -50%;
}

.nav-menu-right {
  right: -50%;
}

.nav-menu-link a {
  text-decoration: none;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
}
.nav-menu-link {
  margin-bottom: 60px;
}
.nav-menu-link a:after {
  background: none repeat scroll 0 0 transparent;
  // bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  @media #{$xs-layout} {
    display: none;
  }
}
.nav-menu-link a:hover:after {
  width: 350px;

  left: 50%;
  margin-left: -220px;
  @media #{$xs-layout} {
    display: none;
  }
}

.nav-menu-link a span {
  font-size: 18px;
  font-weight: bold;
}

.contact .title {
  font-size: 80px;
  font-weight: bold;
}

.contact .info a {
  font-weight: lighter;
  color: white;
  font-weight: bold;
}
.info a:after,
.info span::after {
  background: none repeat scroll 0 0 transparent;
  // bottom: 0;
  content: "";
  display: block;
  height: 2px;
  // right: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.info a:hover:after,
.info span:hover:after {
  width: 150px;
  // left: 0;
}

.mail {
  margin-bottom: 60px;
}

.nav-menu-close {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 1;
}

.menu-close-img {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 10px solid #0f0f0f;
}

.nav-close-icon {
  width: 100%;
}

@media (max-width: 900px) {
  .nav-menu-right {
    display: none;
  }

  .nav-menu-left {
    width: 100%;
    left: -100%;
    top: 0;
  }

  .nav-menu-close {
    position: fixed;
    top: 5%;
    left: 80%;
    transform: translate(-50%, -50%);
    margin: 40px;
  }

  .hr {
    display: none;
  }

  .nav-close-icon {
    width: 40%;
  }
  .nav-menu-links {
    margin-left: -40%;
    margin-top: -20%;
  }
  .nav-menu-link a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    text-align: left;
  }
  .nav-menu-link {
    margin-bottom: 40px;
  }
  .nav-menu-link span {
    display: none;
  }
  .nav-menu-link:first-child a::before {
    display: none;
  }
}

/* MOBILE NAV FOR AUTH ON MENU */
.mobile-auth-wrapper {
  position: absolute;
  bottom: 20%;
  left: 10%;
  @media #{$md-layout} {
    left: 20%;
  }
}

/*  PRODUCT CATEGORIES MENU */
.project {
  width: 100%;
  // position: relative;
}

.menu-back {
  position: absolute !important;
  top: 5%;
  left: 5%;
  cursor: pointer;
}
.menu-back p {
  color: white;
}
.divider {
  width: 100%;
  height: 2px;
  background: #fff;
}
.menu__item {
  position: relative;
  padding: 1.6vw 0 0 0;
  margin: 4px;
  cursor: pointer;
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  // text-transform: uppercase;
}

.menu__item-link::before {
  all: initial;
  text-transform: uppercase;
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.menu__item-link:hover {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  opacity: 0;
}

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
    translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
    rotate3d(0, 0, 1, 4deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  @media #{$xs-layout} {
    display: none;
  }
}

.menu {
  padding: 0vh 0 0 0vh;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-size: 8vw;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  padding: 2vw 0;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

// @media #{$xs-layout} {
//   .menu__item-link ~ .marquee .marquee__inner {
//     -webkit-animation-play-state: running;
//     animation-play-state: running;
//     opacity: 1;
//     -webkit-transition-duration: 0.4s;
//     transition-duration: 0.4s;
//   }
//   .menu__item-link {
//     display: none;
//   }
//   // .marquee .marquee__inner{
//   //  border-top: 1px solid white;
//   // }
// }

.menu__item-link,
.marquee span {
  white-space: nowrap;
  font-size: 6.5vw;
  padding: 1.6vw 1vw;
  font-weight: bold;
}

// .marquee span {
//   // font-family: "Bigilla" !important;
//   // text-transform: uppercase;
// }

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}
